#panel-region-middle_live_left {
  float: left;
  width: 48%;
}

#panel-region-middle_live_sidebar {
  float: right;
  width: 49%;
}

#panel-region-derniers_list {
  float: left;
  width: 48%;
}

#panel-region-derniers_agenda {
  float: right;
  width: 49%;
}

#panel-region-derniers_links {
  float: left;
  width: 48%;
}

#panel-region-derniers_search {
  float: right;
  width: 49%;
}

#panel-region-bottom_evenements {
  clear: both;
}

#panel-region-three_column {
  clear: both;
}

.panel-region {
  border: 2px gray solid;
  margin: 3px 3px 3px 3px;
}

.site_content {
  width: 66%;
  float: left;
}

.site_side {
  width: 33%;
  float: right;
}

#edit-buttons {
  clear: both;
  margin-top: 10px;
}
