html .agenda-date-popup-input { height: 30px; }
html .agenda-date-popup-input input { background-position: 100% -61px; }
* +html .side-block .num-list li .text span { display: block; }
* +html .side-block .num-list li .text span a { display: block;  margin-top:expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0");
}
* +html .content-text>ol { margin: 0 0 0 23px; counter-reset: none; list-style: decimal; }
* +html .content-text>ul { margin: 0 0 0 23px; counter-reset: none; list-style: square; }
.content-slider-nav ul li.active {  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}
* +html .mask .txt { display: block; }
* +html .mask .txt span { display: block;  margin-top:expression(this.parentNode.offsetHeight > this.offsetHeight ? ((this.parentNode.offsetHeight-this.offsetHeight)/2 + "px") : "0");
}
* +html .calendar-list li { width: 191px; }
* +html .live-page .calendar-list li a { display: block; }
* +html .live-page .calendar-list li a span.block { display: block; padding-top: 15px; }
* +html * +html .live-page .calendar-list li a .ico { float: left; }
* +html * +html .live-page .calendar-list li a .txt { overflow: hidden; padding-top: 3px; }
*+html .partners-list { margin-bottom: 17px; }
*+html .side-block.concerts { margin-bottom: 0; }
