#admin-menu { margin-right: 0px; }
.ajax-progress-throbber { display: none; }
.agenda-date-popup-input { border-left: 1px solid #CCC; background: url(../images/bg-select.png) repeat-x; }
.agenda-date-popup-input input { -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; cursor: pointer; border: none; margin: 0px; padding: 0px; font: 13px/30px Arial, Helvetica, sans-serif; height: 30px; display: block; padding: 0 26px 0 13px; background: url(../images/bg-select.png) no-repeat 100% -60px; }
.agenda-thematic-search .box-l, .agenda-thematic-search .city-frame { position: relative; top: 0px; }
.search-movies .holder.agenda-thematic-search { overflow: inherit; }
.agenda-sidebar-search .agenda-sidebar-search-locality { position: relative; overflow: inherit; }
.agenda-sidebar-search .city-frame { position: relative; width: 228px; float: right; display: none; top: 0px; }
.agenda-sidebar-search .city-frame .text-city { width: 180px; }
.search-block .city { min-height: 19px; }
.ui-datepicker-calendar td a.ui-state-default.ui-state-highlight { color: #262626; }
.ui-state-highlight { text-decoration: none; background: #EDEDED; }
html.js input.form-autocomplete { background: none; }
#autocomplete { margin-left: -11px; }
#autocomplete li { cursor: pointer; padding: 5px; }
.thematic-block-image-holder { position: relative; }
article#content div.content-text .illustration span.legende { text-align: center; font-size: 11px; line-height: 20px; font-weight: bold; margin: 0; padding-right: 0px; float: none; }
article#content div.content-text .illustration span.copyright { text-align: center; margin-left: 4px; font-weight: normal; font-size: 11px; line-height: 20px; float: none; }
article#content div.content-text .asset-document .image-asset-description { clear: both; font-size: 10px; line-height: 120%; overflow: hidden; padding-top: 5px; }
article#content div.content-text .asset-document ul li { background: url("../images/content/pdf-list.gif") no-repeat scroll 0 0 transparent; padding: 0 0 0 40px; }
article#content div.content-text .asset-document ul li { list-style: none; }
article#content div.content-text .asset-document ul { margin-left: 0px; }
article#content div.content-text .asset-document ul li { list-style: none; }
article#content div.content-text div.asset-audio, article#content div.content-text div.asset-document { margin-top: 7px; margin-bottom: 7px; }
article#content div.content-text .asset-document a, article#content div.content-text .asset-document span { text-decoration: none; }
article#content div.content-text .asset-document a:hover, article#content div.content-text .asset-document span:hover { color: #e40004; text-decoration: none; }
article#content div.content-text .asset-audio .image-asset-description { clear: both; font-size: 10px; line-height: 120%; overflow: hidden; padding-top: 5px; }
article#content div.content-text .asset-audio ul li { list-style: none; }
article#content div.content-text .asset-audio ul { margin-left: 0px; }
article#content div.content-text .asset-audio ul li { list-style: none; }
article#content div.content-text .asset-audio a, article#content div.content-text .asset-audio span { text-decoration: none; }
article#content div.content-text .asset-audio a:hover, article#content div.content-text .asset-audio span:hover { color: #e40004; text-decoration: none; }
.page-admin-content-assets-view div.content-slider { margin: 20px auto 20px auto; overflow: hidden; }
.page-admin-content-assets-view div#tabs { border-bottom: 5px solid #040404; }
.search-region-block .search-region, .side-block .search-region { overflow: inherit; }
.search-region-block .search-region .form-item-locality, .side-block .search-region .form-item-locality { float: left; overflow: inherit; }
.search-region-block .search-region .form-item-locality:after, .side-block .search-region .form-item-locality:after { content: ""; display: block; clear: both; }
.search-region-block { overflow: inherit; }
.city-frame { overflow: inherit; }
.form-item-city-autocomplete-search { float: left; }
div#admin-dashboard-link { top: 0px; left: 0px; position: fixed; bottom: 0px; }
.admin-menu div#admin-dashboard-link { top: 30px; }
div#admin-dashboard-link span.admin-dashboard-link { background: url("../images/sprite.png") 0px 0px no-repeat; display: block; width: 35px; height: 35px; }
.text .agenda-recherche-date span { background: url(../images/arrow2.png) no-repeat 0 5px; padding-left: 10px; margin-left: 3px; display: inline; color: #999; font: 16px/19px 'helveticaneuelt_std_medRg'; letter-spacing: 1px; }
.content-page-layout #article-full-main-media div.content-slider { margin: 20px auto 20px auto; overflow: hidden; width: 100%; }
.content-page-layout #article-full-main-media div#tabs { border-bottom: 5px solid #040404; }
.content-page-layout #article-full-main-media .content-slider-frame li .frame { height: 320px; margin-bottom: 5px; height: auto; }
.content-page-layout #article-full-main-media .content-slider-frame li { float: left; width: 640px; background: white; }
.content-page-layout #article-full-main-media .content-slider { width: 660px; }
.search-holder .form-search-holder.search-no-related-pages { margin-bottom: 0px; border-bottom: none; }
.metanav h3, .metanav h4 { font-size: inherit; }
.twitter-feed ul li span.imitation-links { display: inline; }
.side-block .share-list { min-height: 30px; }
.more-list-event { margin: 0; padding: 0; list-style: none; float: left; }
.more-list-event li { font: bold 0.8em/1.334em Arial, Helvetica, sans-serif; padding: 0px 0 11px; }
.content-block .main-block .btn-01.ar { float: right; }
.content-block .main-block h2 { float: left; }
.content-block .main-block .holder { border-top: 1px solid #EEE; }
.content-block .main-block .side-list { padding-top: 15px; margin-top: 0px; overflow: hidden; }
.content-block .main-block .side-list li, .three-column .evt-block .side-list li { padding-right: 20px; border: none; float: left; width: 310px; }
.content-block .main-block .side-list li.second, .three-column .evt-block .side-list li.second { padding-right: 0px; }
.node-type-article-live .side-block.evt-block .side-list li.second { margin-left: 15px; }
.three-column div.dmdm { padding-bottom: 30px !important; }
.google-schema-item { display: none; }
#admin-dashboard-link { z-index: 9999; }
nav ul li .drop ul li.no-line-before { background: none; }
a.city-link { color: #999!important; font: bold 11px/15px Helvetica, Arial, sans-serif; text-transform: uppercase; letter-spacing: 1px; padding-bottom: 5px; }
.metanav ul.block, .metanav div.block .content ul { padding-left: 0px; }
.hideme { display: none; }
.view .ten-first-pager li.first, .view .ten-first-pager li.last { padding: 0px; float: left; }
.view .ten-first-pager ul { margin: 0px 65px 0px 65px; }
.content-page-layout #article-full-main-media .content-slider .content-slider-frame-block { width: 640px; position: relative; overflow: hidden; }
.hide-me { display: none; }
.form-trier form label { display: inline; }
.concert-holder .form-trier { float: none; }
#fancybox-content .email-popup .popup { display: block!important; }
#fancybox-content .email-popup .email-share-popup { display: block!important; }
#fancybox-content .email-popup .popup .holder { padding: 8px; }
#fancybox-content .email-popup .email-share-popup .holder { padding: 8px; }
.live-page #fancybox-content .email-popup .popup { position: relative; border: none; margin: auto; top: auto; left: auto; }
.live-page #fancybox-content .email-popup .email-share-popup { position: relative; border: none; margin: auto; top: auto; left: auto; }
.live-page #fancybox-content .email-popup .popup h3 { margin: auto; font: bold 16px/19px 'tradegothicbold'; text-transform: none; color: #ffffff; }
.live-page #fancybox-content .email-popup .email-share-popup h3 { margin: auto; font: bold 16px/19px 'tradegothicbold'; text-transform: none; color: #ffffff; }
#culturebox-live-newsletter-form .messages { width: 428px; }
.about-video span.vcard, .about-video span.vcard span { float: left; }
.about-video span.inline-separator { float: left; }
.selectArea .center { overflow: hidden; }
.side-block .top5-list .text span a { text-transform: uppercase; }
.live-page #tabs { margin: 0 auto; width: 1000px; }
#culturebox-live-filter-thematic-form .sub-thematic .selectArea { display: none; }
#culturebox-live-filter-thematic-form .sub-thematic select, #culturebox-live-filter-thematic-form .thematic select { position: absolute; left: -3000px; }
#culturebox-live-filter-thematic-form .sub-thematic .selectArea.no-hide { display: block; }
.messages.error ul { list-style: none; margin: 0; }
#views-exposed-form-event-terms-list-festivals-list { display: none; }
div.fest-menu ~ .contextual-links-wrapper { top: 125px; }
div.fest-menu img.banner-img { /*z-index: -1;*/ }
div.fest-menu > div.title { /*z-index: -1;*/ }
div.fest-menu a.rss { position: absolute; right: 5px; top: 5px; z-index: 100; margin-top: 10px; margin-right: 10px; background-image: url("../images/social.png"); background-position: 0 -300px; }
header ul.top-nav li.minisite-item a { font-size: 19px;}
.view-id-lives_list li a.play, .view-id-lives_list li span.play, .view-id-lives_list li a.play-medium, .view-id-lives_list li span.play-medium, .view-id-lives_list li a.play-small, .view-id-lives_list li span.play-small { /*background: url("../images/btn-play.png") no-repeat scroll 0 0 transparent;*/ background: url("../images/spritesheet.png") no-repeat transparent; background-position: -28px -1px; height: 45px; left: 50%; margin: -23px 0 0 -23px; overflow: hidden; position: absolute; text-indent: -9999px; top: 50%; width: 46px; }
.view-id-lives_list li a.play-medium, .view-id-lives_list li span.play-medium { width: 38px; height: 37px; /*background: url(../images/btn-play-medium.png) no-repeat;*/ background: url(../images/spritesheet.png) no-repeat; background-position: -76px -1px; margin: -19px 0 0 -19px; }
.view-id-lives_list li a.play-small, .view-id-lives_list li span.play-small { width: 31px; height: 31px; /*background: url(../images/btn-play-small.png) no-repeat;*/ background: url(../images/spritesheet.png) no-repeat; background-position: -116px -1px; margin: -15px 0 0 -15px; }
.view-id-lives_list div.img:hover > a.play, .view-id-lives_list div.img:hover > span.play, .view-id-lives_list div.img:hover > a.play-medium, .view-id-lives_list div.img:hover > span.play-medium, .view-id-lives_list div.img:hover > a.play-small, .view-id-lives_list div.img:hover > span.play-small { display: none; }
body.live-page div#wrapper header nav, body.page-live div#wrapper header nav { height: 37px; }
.live-player .video-container .node-unpublished { background-color: black; }
div.side-block.view-display-id-panel_pane_diaporamas strong.name { font: 12px/15px 'ftv_heldustry-demidemi', Helvetica, Arial, sans-serif; text-transform: uppercase; letter-spacing: 1px; color: #007FAF; }
div.side-block.view-display-id-panel_pane_diaporamas strong.name a { color: #007FAF; }
div.side-block.view-display-id-panel_pane_diaporamas strong.name span { color: #007FAF; }
div.side-block.view-display-id-panel_pane_diaporamas p { font-size: 17px; font-weight: 700; text-decoration: none; line-height: 20px; }
div.side-block.view-display-id-panel_pane_diaporamas .thematic-block-image-holder img { margin-bottom: 11px; }
.form-popup .area { margin-top: 0; }
#averir-popup-response .inform { color: rgb(80, 173, 37); padding: 10px 0; width: 98%; margin: 0 auto; }
.tooltip-iframe-body-element { max-height: 570px }
.article-diaporama #wrapper { width: 1000px; }
.iframewidget .uppermain .counter { position: absolute; left: 19px; top: 60px; width: 216px; height: 24px; background: url(../images/bg-counter.png) no-repeat; padding: 5px 9px 5px 11px; }
.iframewidget .uppermain .counter .txt { float: left; color: #fff; text-transform: uppercase; font: 19px/24px 'tradegothicbold'; width: 72px; }
.iframewidget .uppermain .counter strong { float: left; width: 43px; color: #fff; font: 14px/24px 'tradegothicbold'; text-transform: uppercase; text-align: center; margin-left: 5px; }
.iframewidget .uppermain .counter strong span { color: #51cbfa; }
.live-player .live-image { min-height: 505px; }
.iframewidget .delay-message table {  min-width: 95%;}
#wrapper .fest-menu .banner-img { height: auto; }
#wrapper .fest-menu { overflow: hidden; }
.pagination {clear: both;}
.tabs .tabs-holder .view-display-id-most_viewed .img { padding: 0px; height: 90px; }
.tabs .tabs-holder .view-display-id-most_viewed .img img { width: 186px; height: 90px; }
.tabs .tabs-holder .view-display-id-most_viewed .text span { padding-bottom: 7px; padding-top: 10px; display: block; font: bold 12px/15px Helvetica,Arial,sans-serif; text-transform: uppercase; }
.tabs .tabs-holder .view-display-id-most_viewed .text span a, .tabs .tabs-holder .view-display-id-most_viewed .text p a:hover { color: #007faf; }
.side-block.block-libre h3, .side-block.block-libre .h3 { margin-bottom: 5px; }

html.html-no-cnil { padding-top: 84px !important; }
html.html-no-cnil div#headerFTVInfo { position: absolute !important; top: 31px !important; }

html.html-cnil { padding-top: 137px !important; }
html.html-cnil div#headerFTVInfo { position: absolute !important; top: 84px !important; }

.bloc-lien { position: absolute; width: 100%; height: 100%; top: 0; text-indent: -9999px; }
.bloc-lien:hover { background-color: #ccc; opacity: 0.30; }