#content { border: none; }
.social { margin: 0; float: right; }
.piu_buttons ul { float: none; margin: 0; padding: 0; list-style: none; }
header div.box .piu_buttons ul { float: right; }
.fest-menu { width: 100%; height: 151px; margin-bottom: 25px; position: relative; }
.fest-menu .banner-img { position: absolute; width: 100%; height: 151px; }
.fest-menu .title { padding: 22px 0 17px 28px; height: 52px; position: relative; font-family: 'tradegothicbold', arial, sans-serif; font-size: 31px; font-weight: normal; line-height: 120%; text-transform: uppercase; color: #FFFFFF; }
.fest-menu .title h1, .fest-menu .title h2 { font-size: 36px; font-weight: normal; line-height: 120%; color: #fff; }
.fest-menu .subtitle { padding-left: 2px; font-family: 'ftv_heldustry-demidemi', Arial, sans-serif; font-size: 12px; font-weight: normal; line-height: 120%; text-transform: uppercase; color: #999999; }
.fest-menu .title h1 a, .fest-menu .title h1 a:hover { color: #fff; }
.fest-nav ul { list-style: none; margin: 0; padding: 0 0 0 30px; }
.fest-nav ul li { float: left; display: block; margin-right: 10px; position: relative; }
.fest-nav .menu-button { background: url(../images/minisites_content/minisprite.png) no-repeat 100% -30px; }
.fest-nav .menu-button .menu-button-link { background: url(../images/minisites_content/minisprite.png) no-repeat 0 0; display: block; height: 30px; padding: 0 10px; font: 13px/31px Arial, sans-serif; color: #404040; }
.fest-nav .arrow { display: none; position: absolute; left: 50%; margin-left: -5px; bottom: -30px; width: 9px; height: 5px; background: url(../images/minisites_content/minisprite.png) no-repeat 0 -65px; }
.fest-nav .arrow.active { display: block; }
.fest-nav ul li:hover .arrow { display: block; }
/*main content*/
#main.article-page { padding-bottom: 79px; }
.top-video { padding-bottom: 25px; clear: both; }
#content h1.top-video-ttl { margin: 0 0 17px; font: 28px/28px 'tradegothicbold'; text-transform: uppercase; }
#content .sup { font-size: 15px; position: relative; top: -11px; }
/*aside*/
.side-banner { border: 1px solid #D9D9D9; margin-bottom: 40px; padding: 4px; }
.side-banner img { max-width: 100%; vertical-align: top; }
.title-logo { float: right; margin-bottom: 16px; }
.title-logo img { display: block; }
.one-column .item-list { float: none; width: auto !important; }
.logo-block { margin-bottom: 14px; overflow: hidden; width: 311px; }
.logo-block ul { margin: 0; padding: 0; list-style: none; }
.logo-block ul li { float: left; margin: 0 9px 0 0; }
.logo-block ul li.last { margin: 0 -1px 0 0; }
.info-block-t2 { background: none; padding: 0; border: none; }
.info-block-t2 .item-list { width: 141px; }
.info-block-t2 .item-list-right { width: 145px; }
.slider .slider-jury { padding: 0 10px 20px 0; }
.slider .slider-jury li { float: left; margin-right: 20px; padding: 0; }
.slider .slider-jury li.last { margin-right: -1px; }
.slider-jury .slide-description { display: block; text-align: center; font: bold 12px/16px Arial, sans-serif; }
.slider .slider-diaporama { position: relative; padding-bottom: 18px; }
.slider .slider-diaporama .description { padding-bottom: 0; padding-top: 10px; font-size: 13px; }
.slider-diaporama .slide-description { display: block; padding-top: 6px; font: 17px/20px 'ftv_heldustry-demidemi', Arial, sans-serif; }
.timetable { margin: -8px 0 0 0; }
.timetable .time { display: block; float: left; width: 50px; padding-bottom: 10px; color: #666666; }
.timetable a { display: block; float: right; width: 260px; }
.share-list { margin: 0; padding: 0; list-style: none; }
.share-list li { padding: 0 20px 5px 0; /* overflow: hidden;*/ height: 25px; vertical-align: top; font-size: 15px; line-height: 18px; }
.side-block .share-list { overflow: hidden; }
.side-block .share-list li { float: left; padding-right: 16px; }
.side-block .share-list li.facebook { width: 82px; }
.side-block .share-list li.twitter { width: 128px; }
.side-block .share-list li.google { width: 66px; }
/**/
.selection h2, .selection .h2 { color: #999999; }
/*footer*/
.footer-logo { background: url(../images/footer-logo.png) no-repeat; }
/*article*/
.panel { overflow: hidden; padding: 17px 0; margin-bottom: 23px; border-top: 5px solid #040404; border-bottom: 1px solid #d9d9d9; }
.main-block .panel { border-top: none; }
.video-box { padding: 22px 0 0 0; }
.video-box .description { padding-bottom: 34px; font-family: Arial, Helvetica, sans-serif; font-size: 15px; font-style: italic; line-height: 20px; color: black; }
.video-box img { margin-bottom: 10px; }
.side-block .num-list li .num { background: none; width: 42px; margin-top: 1px; text-align: left; font: 34px/34px 'ftv_heldustry-regularregular', Arial, sans-serif; color: #0AA9E6; font-weight: normal; }
.side-block .num-list li .text span a { font-size: 12px; }
.side-block .btn-01.btn-r { float: right; }
/*rubric page*/
.rubric-title { border-top: 1px solid #E5E5E5; padding: 10px 0 10px 0; border-bottom: 1px solid #E5E5E5; margin-bottom: 20px; }
.rubric-title img { float: left; border-right: 1px solid #DADADA; padding-right: 10px; margin-right: 10px; }
.pagination { margin-bottom: 60px; }
.article-list { padding-bottom: 40px; }
