html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; }
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video { display: block; }
img { border-style: none; }
a, .imitation-links { color: #262626; text-decoration: none; }
a:hover, .imitation-links:hover { text-decoration: none; cursor: pointer; color: #0599D2; }
input, textarea, select { color: #262626; vertical-align: middle; font: 100% Arial, Helvetica, sans-serif; }
table { border-collapse: collapse; border-spacing: 0; }
form, fieldset { margin: 0; padding: 0; border-style: none; }
a:focus, input:focus, textarea:focus, select:focus { outline: none; }
body { min-width: 1010px; }
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_6 { margin-left: auto; margin-right: auto; width: 1050px; }
/* Grid >> Global
----------------------------------------------------------------------------------------------------*/
.grid_1, .grid_2, .grid_3, .grid_4, .grid_5, .grid_6 { display: inline; float: left; position: relative; margin-left: 20px; margin-right: 20px; }
.push_1, .pull_1, .push_2, .pull_2, .push_3, .pull_3, .push_4, .pull_4, .push_5, .pull_5, .push_6, .pull_6 { position: relative; }
/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/
.alpha { margin-left: 0 !important; }
.omega { margin-right: 0 !important; }
/* Grid >> 6 Columns
----------------------------------------------------------------------------------------------------*/
.container_6 .grid_1 { width: 135px; }
.container_6 .grid_2 { width: 310px; }
.container_6 .grid_3 { width: 485px; }
.container_6 .grid_4 { width: 660px; }
.container_6 .grid_5 { width: 835px; }
.container_6 .grid_6 { width: 1010px; }
/* Prefix Extra Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/
.container_6 .prefix_1 { padding-left: 175px; }
.container_6 .prefix_2 { padding-left: 350px; }
.container_6 .prefix_3 { padding-left: 525px; }
.container_6 .prefix_4 { padding-left: 700px; }
.container_6 .prefix_5 { padding-left: 875px; }
/* Suffix Extra Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/
.container_6 .suffix_1 { padding-right: 175px; }
.container_6 .suffix_2 { padding-right: 350px; }
.container_6 .suffix_3 { padding-right: 525px; }
.container_6 .suffix_4 { padding-right: 700px; }
.container_6 .suffix_5 { padding-right: 875px; }
/* Push Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/
.container_6 .push_1 { left: 175px; }
.container_6 .push_2 { left: 350px; }
.container_6 .push_3 { left: 525px; }
.container_6 .push_4 { left: 700px; }
.container_6 .push_5 { left: 875px; }
/* Pull Space >> 6 Columns
----------------------------------------------------------------------------------------------------*/
.container_6 .pull_1 { left: -175px; }
.container_6 .pull_2 { left: -350px; }
.container_6 .pull_3 { left: -525px; }
.container_6 .pull_4 { left: -700px; }
.container_6 .pull_5 { left: -875px; }
/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
/* http://sonspring.com/journal/clearing-floats */
.clear { clear: both; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before, .clearfix:after { content: '\0020'; display: block; overflow: hidden; visibility: hidden; width: 0; height: 0; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }
